html {
  background-color: gray;
  height: 100%;
  width: 100%;
}

.home, .adoption {
  text-align: center;
}

.home {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.home img {
  width: 30%;
  padding-bottom: 20px;
  margin-left: 35%;
}

.home p {
  padding: 5px;
}

.list {
  display: flex;
  justify-content: center;
  padding: 10px;
}

.animal {
  padding: 20px;
  width: 20%;
  box-shadow: 0px 0px 5px 2px #17252a;
  background-color: white;
}

.animal img {
  width: 60%;
  box-shadow: 0px 0px 5px 2px #17252a;
}
